<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>Offers</ion-title>
    <ion-buttons slot="primary">
    
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="placesOffer.length<=0 && isDataAvailable" style="text-align: center;"><h1>No Offers Yet</h1></div>
  <div class="ion-text-center" style="margin-top: 200px;" *ngIf="!isDataAvailable">
    <ion-spinner name="crescent" color="danger"></ion-spinner>
  </div>
  <div *ngIf="placesOffer.length>0 && isDataAvailable">
<ion-list>
  <ion-item-sliding *ngFor="let places of placesOffer" #slideRefernce>
    <app-offer-item [places]="places"></app-offer-item>
   <ion-item-options side="end">
     <ion-item-option (click)="onEdit(places.id, slideRefernce)" color="primary">
       <ion-icon name="create" slot="icon-only"></ion-icon>
     </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  
</ion-list>
</div>
</ion-content>
