<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ionTitle">Hotels On Budget App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
   <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md=3>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" name="email" ngModel required #mail="ngModel"></ion-input> 
          </ion-item>
          <ion-item *ngIf="!mail.valid && mail.touched" lines="none">
            <ion-label>Enter a valid E-Mail Address</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="password" ngModel required minlength="6" #password="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="!password.valid && password.touched" lines="none">
            <ion-label>Password should be atleast 6 characters long</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>  
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-button type="button" color="primary" fill="clear" expand="block" (click)="onAuthToogle()">Switch to {{isLogin ? 'SignUp' : 'Login'}}</ion-button>
        <ion-button type="submit" color="primary" expand="block" [disabled]="f.invalid"> {{isLogin ? 'Login' : 'SignUp'}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
 </ion-content>

